.about {
  background-color: #001024;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about .group-wrapper {
  background-color: #001024;
  width: 1440px;
  height: 1024px;
}

.about .group {
  position: relative;
  width: 1149px;
  height: 668px;
  top: 178px;
  left: 147px;
}

.about .overlap-group {
  position: relative;
  width: 1145px;
  height: 668px;
}

.about .line {
  position: absolute;
  width: 7px;
  height: 668px;
  top: 0;
  left: 172px;
}

.about .text-wrapper {
  position: absolute;
  top: 255px;
  left: -77px;
  transform: rotate(-90deg);
  font-family: "DM Serif Display-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 115px;
  letter-spacing: 0;
  line-height: normal;
}

.about .an-online-voting {
  position: absolute;
  width: 924px;
  top: 21px;
  left: 221px;
  font-family: "DM Serif Display-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}
