body {
  position: absolute;
  margin: 0;
  background-color: #001024;
  width: 100vw;
  padding-bottom: 100px;
}

.registration-page {
  background-color: #001024;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.registration-page .div {
  background-color: #001024;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.registration-page .figure {
  position: absolute;
  width: 392px;
  height: 666px;
  top: 117px;
  left: 143px;
}

.registration-page .registration-form {
  position: absolute;
  width: 381px;
  height: 809px;
  top: 107px;
  left: 764px;
  display: flex;
  flex-direction: column;
}

.registration-page .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "DM Serif Display-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
}

.registration-page .overlap {
  position: absolute;
  width: 361px;
  height: 69px;
  top: 100px;
  left: 0;
}

.registration-page .rectangle {
  width: 361px;
  top: 26px;
  background-color: #ffffff;
  position: absolute;
  height: 43px;
  left: 0;
}

.registration-page .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Padauk-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.registration-page .overlap-group {
  position: absolute;
  width: 361px;
  height: 69px;
  top: 180px;
  left: 0;
}

.registration-page .overlap-2 {
  position: absolute;
  width: 361px;
  height: 69px;
  top: 260px;
  left: 0;
}

.registration-page .overlap-3 {
  position: absolute;
  width: 361px;
  height: 69px;
  top: 340px;
  left: 0;
}

.registration-page .overlap-4 {
  position: absolute;
  width: 361px;
  height: 69px;
  top: 420px;
  left: 0;
}

.registration-page .overlap-5 {
  position: absolute;
  width: 361px;
  height: 69px;
  top: 500px;
  left: 0;
}

.registration-page .overlap-6 {
  position: absolute;
  width: 361px;
  height: 69px;
  top: 580px;
  left: 0;
}

.registration-page .overlap-group-2 {
  position: absolute;
  width: 361px;
  height: 69px;
  top: 660px;
  left: 0;
}

.registration-page .overlap-7 {
  position: absolute;
  width: 180px;
  height: 43px;
  top: 766px;
  left: 91px;
  border-radius: 5px;
  cursor: pointer;
}

.registration-page .rectangle-2 {
  width: 180px;
  top: 0;
  background-color: #015fc7;
  border-radius: 5px;
  position: absolute;
  height: 43px;
  left: 0;
}

.registration-page .text-wrapper-3 {
  position: absolute;
  top: 8px;
  left: 52px;
  font-family: "Padauk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.input-box {
  position: relative;
  top: 100px;
  margin-top: 30px;
  color: white;
  font-family: "Padauk-Bold", Helvetica;
}

.register-name {
  width: 320px;
  padding: 10px;
}

.label-name {
  position: relative;
  bottom: 10px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

#submit-btn {
  width: 220px;
  padding: 10px;
  border-radius: 10px;
  background-color: #015fc7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150px;
  margin-bottom: 100px;
  cursor: pointer;
}

#submit-text {
  color: white;
  font-family: "Padauk-Bold", Helvetica;
  font-weight: 700;
}
